language: ruby
rvm:
  - 2.2.3
before_script:
  - cp config/database.yml.sample config/database.yml
  - bundle exec rake db:create db:schema:load
addons:
  postgresql: '9.3'

script: bundle exec rspec
