.simple-calendar .day {
  height: 20px;
}
.btn-habit {
  margin-top: 10px
}

.select2-selection__choice {
  color: $black-select2; //--todo change
}

.select2-results__option {
  color: $black-select2;
}
