.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 500px;
  height: 100px;
}

body {
  background-image: url(image-path('bg1.jpg'));
  background-repeat: no-repeat;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


.main {
  margin-top: 70px;
}


.simple-calendar {

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #847C7C
  }
  .today {
  background-color: #37C742
  }

  a {
  color:#080808
  }

  .glyphicon-ok-sign {
    color: #45BB39;
    text-shadow: 0px 0px 10px white;
  }

  .glyphicon-remove-sign {
    color: #BF3524;
    text-shadow: 0px 0px 10px white;
  }

  .glyphicon-hourglass {
    color: #EA6E11;
    text-shadow: 0px 0px 10px white;
  }
<<<<<<< HEAD
  
  .glyphicon-ok-circle {
    color: #3B4CD8;
    text-shadow: 0px 0px 10px white;
  }
  
=======

>>>>>>> df2c76da9e51339773029be508db4eaa907735a1
}
.well, .authform form, .authform fieldset {
   background-color: transparent;
  }

  .right {
    color: #EFF2F5;
  }

 tr:hover td {
  background-color: #FFFAF0; color: #000;
}

  .btn-success {
    border: 2px solid;
    border-radious: 25px;
    width: 100px;
  }

  .btn-warning {
    border: 2px solid;
    border-radious: 25px;
    width: 100px;
  }

  .btn-danger {
    border: 2px solid;
    border-radious: 25px;
    width: 100px;
  }

  .btn-primary {
    border: 2px solid;
    border-radious: 25px;
    width: 100px;
  }
