-user_habits.each do |habit|
  .col-md-4
    %h3=habit.name
    =month_calendar do |date|
      =date.strftime("%d")
      - if habit.days.include? date.wday
        - if habit.tasks.on_day(date).exists?
          %span{:'data-toggle' => "popover", title: "Choose action:", :'data-content' => "Actions!"}
            - if habit.tasks.on_day(date).first.not_done?
              %span.add-task.glyphicon.glyphicon-remove-sign{ :'data-date' => date }
            - elsif habit.tasks.on_day(date).first.suspended?
              %span.add-task.glyphicon.glyphicon-hourglass{ :'data-date' => date }
            - else
              %span.add-task.glyphicon.glyphicon-ok-sign{ :'data-date' => date }
        - else
          %span.glyphicon.glyphicon-question-sign
.hidden#calendar-action-buttons
  .btn-group{ role: "group" }
    %button.done-action.btn.btn-default{type: "button"} Done
    %button.suspend-action.btn.btn-default{type: "button"} Suspend
    %button.not-done-action.btn.btn-default{type: "button"} Not done
