-user_habits.each do |habit|
  .col-md-4
    %h3=habit.name
    =month_calendar do |date|
      =date.strftime("%d")
      - if habit.days.include? date.wday
        - if habit.tasks.on_day(date).exists?
          %span.actions{:'data-toggle' => "popover",
           :'data-date' => date,
           :'data-habit' => habit.id,
           :'data-task' => habit.tasks.on_day(date).first.id}
            - if habit.tasks.on_day(date).first.not_done?
              %span.add-task.glyphicon.glyphicon-remove-sign.task_fail
            - elsif habit.tasks.on_day(date).first.suspended?
              %span.add-task.glyphicon.glyphicon-hourglass.task_suspend
            - else
              %span.add-task.glyphicon.glyphicon-ok-sign.task_done
        - elsif date.today?
          %span.actions{:'data-toggle' => "popover", :'data-habit' => habit.id}
            %span.add-task.glyphicon.glyphicon-info-sign
        - else
          %span.glyphicon.glyphicon-question-sign
.hidden#calendar-action-buttons
  .btn-group{ role: "group" }
    %button.done-action.btn.btn-success{type: "button"} Done
    %button.suspended-action.btn.btn-warning{type: "button"} Suspend
    %button.not-done-action.btn.btn-danger{type: "button"} Not done
